head {
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(215, 230, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
    font-size: x-large;
    font-weight: 500px;
    text-align: center;
}

p {
    color: rgb(145, 219, 76);
    text-align: center;
    margin: 0;
}

#about {
    color: rgb(228, 133, 10);
}

#Education {
    color-scheme: rgb(255, 0, 106);
    color: bisque;
}

#hobbies {
    color: rgb(238, 200, 48);
}

#interest {
    color-interpolation-filters: initial;
    color-scheme: rgb(255, 136, 0);
    color: blue;
}

.box-model {
    width: 300px;
    height: 180px;
    background-color: rgb(243, 238, 238);
    padding: 20px;
}

.box {
    width: 270px;
    height: 150px;
    background-color: rgb(128, 128, 128);
    padding: 10px;
    border: 1px rgb(250, 128, 114);
}

.my-css {
    color: rgb(173, 111, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
        background-color: rgb(19, 17, 17);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
}

.mine {
    color: rgb(112, 207, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
